body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

body {
    background-color: #40a63d1a;
}


/* Write all your CSS here! */

.bg-lite {
	background-color: white;
}
.logo-two{
	color: #de1e36;
}
.navbar-dark .navbar-brand {
    color: #de1e36;
}
a.navbar-brand.hover:hover {
    color: #de1e36;
}
a.navbar-brand.hover {
    color: #de1e36;
    font-weight: 500;
}
.mynav{
	background-color: #494949;
}
.bg-color {
	color: #2da744;
}

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

 .col-sm-6 {
    padding-top: 93px;
}
p.date {
    margin-top: 10px;
    margin-bottom: -0.8rem;
    margin-left: 30px;
}
















